* { /* full default reset. KEEP AT TOP*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* as opposed to content-box, box size includes border and padding rather than adding them on*/
}

body {
    display: block;
    background-color: black;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 11pt;
}

img {
    max-width: 100%;
    height: auto;
}

.login {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("assets/water.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 1s;
    /* text-align: center; */
}

.unlocked {
    opacity: 0;
}

.items {
    justify-content: center;
    align-content: center;
    background: linear-gradient(whitesmoke, lightgray);
    height: 18em;
    padding: 2em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.icon {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.icon img {
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid gray;
    border-radius: 50%;
    border-image: linear-gradient(whitesmoke, lightgray);
    box-shadow: 0 0 2px 1px dimgray;
}

.name {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
}

.password {
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5em;
    /* margin: 2em; */
}

.password:focus {
    box-shadow: 0 0 3px 1px cornflowerblue, inset 0 0 3px 1px cornflowerblue;
    border: 1px solid cornflowerblue;
    outline: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#ui {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
    animation-name: fadeIn;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    font-size: 10pt;
}

.bgIceberg {
    background: url("assets/iceberg.jpg");
    background-size: cover;
}

.bgWater {
    background: url("assets/water.jpg");
    background-size: cover;
}

.bgTiger {
    background: url("assets/tiger.jpg");
    background-size: cover;
}

.bgAurora {
    background: url("assets/aurora.jpg");
    background-size: cover;
}

.bgSnowy {
    background: url("assets/snowy_hills.jpg");
    background-size: cover;
}

.bgTranquil {
    background: url("assets/tranquil_surface.jpg");
    background-size: cover;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(whitesmoke, transparent 200%);
}

#toolbarLeft {
    display: flex;
    flex-direction: row;
}

#toolbarRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tool {
    padding: 0.25em 0.5em;
    margin: 0 0.5em;
    cursor: default;
}

.tool img {
    height: 1em;
}

.tool:hover, .tool:focus {
    color: white;
    background: linear-gradient(dodgerblue, blue);
}

.appName {
    font-weight: bold;
}

.desktop-space {
    display: flex;
    width: 100%;
    height: 80vh;
    padding-bottom: 20%;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
}

/* .file {

} */

#dock {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* width: 100%; */
    height: 110px;
    background: url("assets/glass_dock.png") no-repeat center;
    background-size: 850px 90%;
    background-position: bottom;
}

@keyframes bounce {
            from {
                transform: translate3d(0, 0, 0);
            }

            to {
                transform: translate3d(0, -30px, 0);
            }
        }

.appHolder {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: default;
}

.appSelected {
    animation: bounce 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.05, .3, .3, .7);
            animation-iteration-count: 6;
}

#separator {
    height: 90%;
    margin-top: 20px;
}

.fileHolder {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
    margin: 25px 30px;
    cursor: default;
}

.fileHolder img {
    border: 5px solid white;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 4px black;
}

.fileName {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px black;
    padding: 2px;
}

.window {
    position: relative;
    display: none; /*Hidden by default
  /* z-index: 1; Sit on top */
  /* padding-top: 50px; Location of the box */
  /* left: 0;
  top: 0; */
  /* width: 900px; /* Full width */
  /* height: 600px; Full height */ 
  background-color: black;
  overflow: hidden; /* Enable scroll if needed */
  border-radius: 5px;
  box-shadow: 0 0 2px;
}

.window-top {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(whitesmoke, #aeaeae);
    padding: 5px;
}

/* Modal Content */
.window-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: gray;
  overflow: scroll;
}

div.window-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.window-name {
    margin: 0 30%;
    padding: 0;
}

/* 
.name {
  margin: 10px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  font-family: "Jersey 10", serif;
  font-size: 20pt;
}

/* Caption of Modal Image */
/*.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: inherit;
  padding: 10px 0;
} */

/* The Close Button */
.close {
  /* position: absolute; */
  /* top: 15px;
  right: 35px; */
  /* color: yellow; */
  width: 12px;
  height: 12px;
  margin: 0 4px;
  /* font-size: 5pt;
  font-weight: bold; */
}

.close:hover,
.close:focus {
  /* color: magenta;
  text-decoration: none; */
  cursor: pointer;
}

.min {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.min:hover,
.min:focus {
  cursor: pointer;
}

.max {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.max:hover,
.max:focus {
  cursor: pointer;
}

#safari-window {
    width: 1000px;
    height: 700px;
    background: url("assets/safari_pbs.png") no-repeat;
    background-size: cover;
}

#sitenowork {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 300px;
    top: 100px;
    left: 40px;
    font-size: 12pt;
}

#finder-window {
    width: 700px;
    height: 350px;
    background: url("assets/finder_window2.png") no-repeat;
    background-size: cover;
}

#ithink {
    position: relative;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    margin: 180px 0 0 140px;
}

#idont {
    position: relative;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0 0 200px;
}

#word-window {
    width: 600px;
    height: 700px;
}

    .wordDoc {
        width: 97%;
        height: 94%;
        margin-top: 110px;
        padding: 50px;
        align-content: flex-start;
        align-items: flex-start;
        font-family:'Times New Roman', Times, serif;
        font-size: 10pt;
    }

    .wordDoc:focus {
        outline: none;
    }

#photobooth-window {
    width: 900px;
    height: 570px;
    background: url("assets/photobooth_window.png") no-repeat;
    background-size: cover;
}

#photobooth-window .window-top {
    background-image: linear-gradient(gray, black);
}

#dangerzone {
    width: 95%;
    height: 95%;
    margin: 2%;
}

#qtp-window {
    width: 600px;
    height: 400px;
}

#qtp-window .window-top {
    background-image: linear-gradient(gray, black);
}

video {
    width: 100%;
}

.preview-window {
    width: 700px;
    height: 500px;
}

#mysnow1 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    width: 100px;
    top: 40px;
    left: 10px;
    font-size: 16pt;
}

#mysnow2 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    width: 100px;
    top: 70px;
    left: 550px;
}

#basement1 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    width: 100px;
    top: 30px;
    left: 20px;
    font-size: 12pt;
}

#basement2 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 100px;
    top: 90px;
    left: 40px;
}

#basement3 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 100px;
    top: 70px;
    left: 550px;
}

#basement4 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 100px;
    top: 250px;
    left: 600px;
    font-size: 10pt;
}

#ishouldnt {
    margin-left: 200px;
    font-size: 12pt;
    color: maroon;
}

#settings-window {
    width: 600px;
    height: 500px;
    background: url("assets/preferences_window.png") no-repeat;
    background-size: cover;
}

#settings-grid {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    gap: 15px;
    top: 195px;
    left: 190px;
    /* height: 300px; */

}

.bg {
    width: 80px;
    /* height: 50px; */
}

#currentBg {
    width: 108px;
    /* height: 60px; */
    position: absolute;
    top: 104px;
    left: 50px;
}

#trash-window {
    width: 700px;
    height: 350px;
}

@media screen and (max-width:900px) {
    #dock {
        background-size: 90% 100%;
        align-items: center;
    }

    .appHolder {
        max-width: 7%;
        height: auto;
        margin: 0.5%;
        cursor: default;
    }
}