* { /* full default reset. KEEP AT TOP*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* as opposed to content-box, box size includes border and padding rather than adding them on*/
}

body {
    display: block;
    background-color: black;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 11pt;
}

.login {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("assets/water.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 1s;
    /* text-align: center; */
}

.unlocked {
    opacity: 0;
}

.items {
    justify-content: center;
    align-content: center;
    background: linear-gradient(whitesmoke, lightgray);
    height: 18em;
    padding: 2em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.icon {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.icon img {
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid gray;
    border-radius: 50%;
    border-image: linear-gradient(whitesmoke, lightgray);
    box-shadow: 0 0 2px 1px dimgray;
}

.name {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
}

.password {
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5em;
    /* margin: 2em; */
}

.password:focus {
    box-shadow: 0 0 3px 1px cornflowerblue, inset 0 0 3px 1px cornflowerblue;
    border: 1px solid cornflowerblue;
    outline: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#ui {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
    background: url("assets/iceberg.jpg");
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    font-size: 10pt;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(whitesmoke, transparent 200%);
}

#toolbarLeft {
    display: flex;
    flex-direction: row;
}

#toolbarRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tool {
    padding: 0.25em 0.5em;
    margin: 0 0.5em;
    cursor: default;
}

.tool:hover, .tool:focus {
    color: white;
    background: linear-gradient(dodgerblue, blue);
}

.appName {
    font-weight: bold;
}

#dock {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 90px;
    background: url("assets/glass_dock.png") no-repeat center;
    background-size: 850px 100%;
}

.appIcon {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: default;
}

.window {
    /* position: absolute; */
    display: none; /*Hidden by default
  /* z-index: 1; Sit on top */
  /* padding-top: 50px; Location of the box */
  /* left: 0;
  top: 0; */
  /* width: 900px; /* Full width */
  /* height: 600px; Full height */ 
  background-color: black;
  overflow: auto; /* Enable scroll if needed */
  border-radius: 5px;
  box-shadow: 0 0 2px;
}

.window-top {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
    background-image: linear-gradient(whitesmoke, gray);
    padding: 5px;
}

/* Modal Content */
.window-content {
  margin: auto;
  display: block;
  width: 100%;
  background-color: white;
}

div.window-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* 
.name {
  margin: 10px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  font-family: "Jersey 10", serif;
  font-size: 20pt;
}

/* Caption of Modal Image */
/*.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: inherit;
  padding: 10px 0;
} */

/* The Close Button */
.close {
  /* position: absolute; */
  /* top: 15px;
  right: 35px; */
  /* color: yellow; */
  width: 12px;
  height: 12px;
  margin: 0 4px;
  /* font-size: 5pt;
  font-weight: bold; */
}

.close:hover,
.close:focus {
  /* color: magenta;
  text-decoration: none; */
  cursor: pointer;
}

.min {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.min:hover,
.min:focus {
  cursor: pointer;
}

.max {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.max:hover,
.max:focus {
  cursor: pointer;
}

#safari-window {
    width: 900px;
    height: 700px;
}

#finder-window {
    width: 700px;
    height: 500px;
}

#word-window {
    width: 600px;
    height: 700px;
}

#qtp-window {
    width: 600px;
    height: 300px;
}

#trash-window {
    width: 700px;
    height: 500px;
}